#root{
  width: 100%;
}

.create-link{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: #1F262E;
}

.form-create{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.textValue{
  padding: 20px;
  color: white;
  font-size: 20px;
  margin-bottom: 30px;
  width: 40vw;
  height: 20vh;
  resize: none;
}

.textValue:focus{
  outline:#ffffff solid 1px;
}

.main-Button{
  width: 30vw;
  height: 5vh;
  background-color: #D40570;
  color: white;
  font-size: 19px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
  margin-top: 20px;
}

.main-Button:hover{
  background-color: #ff1e8c;
}


.show-link{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: #1F262E;
}

.text-main{
  border-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 7vh;
  background-color: #1F262E;  
  margin-bottom: 20px;
  font-size: 20px;
  padding: 10px;

}

.title-link{
  color: white;
  font-size: 35px;
  width: 60vw;
  height: 10vh;
  text-align: center;
}

.value-result{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 25px;
  margin-top: 20px;
}

.show-value{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: #1F262E;
}

.show-value form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}